MONGODB_URI=mongodb+srv://admin:<password>@cluster0.k8bdrbo.mongodb.net/?appName=Cluster0
JWT_SECRET=replace-with-a-long-random-string
PORT=4000
EMAILJS_SERVICE_ID=replace-with-emailjs-service-id
EMAILJS_TEMPLATE_ID=replace-with-emailjs-template-id
EMAILJS_PUBLIC_KEY=replace-with-emailjs-public-key
EMAILJS_PRIVATE_KEY=replace-with-emailjs-private-key
